body{
    margin: 0px;
    padding: 0px;
    background: url(https://unsplash.com/photos/pink-and-white-light-illustration-doKatAORoIs)no-repeat;
    background-size: cover;
}

    .login{
        width: 300px;
        height: 350px;
        background-color: rgb(226, 10, 125);
        border: absolute;
        top: 50%;
        left: 50%;
        
    }